[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/acb5117d-0f34-40b3-81f0-b89828f0e443
Type=Link
URL[$e]=https://www.boot.dev/lessons/acb5117d-0f34-40b3-81f0-b89828f0e443
