[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/ae568128-61fa-41fa-bfc7-67296fb39fe2
Type=Link
URL[$e]=https://www.boot.dev/lessons/ae568128-61fa-41fa-bfc7-67296fb39fe2
