[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/76082fa8-91dd-45bc-99a9-91e23ebed314
Type=Link
URL[$e]=https://www.boot.dev/lessons/76082fa8-91dd-45bc-99a9-91e23ebed314
