[Desktop Entry]
Icon=text-html
Type=Link
Name=Learn Object-Oriented Programming Python
Comment=Boot.dev Python OOP Course
Keywords=python;oop;programming;course;bootdev;
URL=https://www.Boot.dev/courses/learn-object-oriented-programming-python
X-URL=https://www.Boot.dev/demo?courseUUID=f9a48bbc-d1ff-4388-bf0c-23c6e3c60ae0
X-Repo=https://GitHub.com/GoToLoop/Boot.dev
