[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/4c857045-8cb7-4f8a-b8f2-a3763177f66b
Type=Link
URL[$e]=https://www.boot.dev/lessons/4c857045-8cb7-4f8a-b8f2-a3763177f66b
