[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/d0da006c-6562-41c0-a7f6-93e795cf078d
Type=Link
URL[$e]=https://www.boot.dev/lessons/d0da006c-6562-41c0-a7f6-93e795cf078d
