[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/882a9e84-f9c3-49aa-8e66-78b15ae49fe0
Type=Link
URL[$e]=https://www.boot.dev/lessons/882a9e84-f9c3-49aa-8e66-78b15ae49fe0
