[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/76495da8-3299-4a07-bf9d-67703ac1bf0d
Type=Link
URL[$e]=https://www.boot.dev/lessons/76495da8-3299-4a07-bf9d-67703ac1bf0d
