[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/a97af3a9-e2e7-4568-a6c8-532071e059fc
Type=Link
URL[$e]=https://www.boot.dev/lessons/a97af3a9-e2e7-4568-a6c8-532071e059fc
