[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/0b23a664-135d-4139-a6bd-e039472dd03e
Type=Link
URL[$e]=https://www.boot.dev/lessons/0b23a664-135d-4139-a6bd-e039472dd03e
