[Desktop Entry]
Icon=text-html
Name=Boot.dev
Comment=Boot.dev Python Course Challenges
Keywords=programming;course;bootdev;challenge
Type=Link
URL=https://GitHub.com/GoToLoop/Boot.dev
