[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/81b765a8-59dd-4728-96a0-b647f6bbddf1
Type=Link
URL[$e]=https://www.boot.dev/lessons/81b765a8-59dd-4728-96a0-b647f6bbddf1
