[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/f6d64450-c8fc-404f-88d8-eff8cf75617a
Type=Link
URL[$e]=https://www.boot.dev/lessons/f6d64450-c8fc-404f-88d8-eff8cf75617a
