[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/6bebca7e-e65c-4a96-9743-1b3786cd56c2
Type=Link
URL[$e]=https://www.boot.dev/lessons/6bebca7e-e65c-4a96-9743-1b3786cd56c2
