[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/courses/learn-data-structures-and-algorithms-python
Type=Link
URL[$e]=https://www.boot.dev/courses/learn-data-structures-and-algorithms-python
