[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/a5cb011d-7b89-49f0-825b-54f3f9c7d625
Type=Link
URL[$e]=https://www.boot.dev/lessons/a5cb011d-7b89-49f0-825b-54f3f9c7d625
