[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/3990f287-528f-4881-bc09-73e2ba05d96d
Type=Link
URL[$e]=https://www.boot.dev/lessons/3990f287-528f-4881-bc09-73e2ba05d96d
