[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/606cafd2-9084-4a28-8cca-b31bb7eb6d42
Type=Link
URL[$e]=https://www.boot.dev/lessons/606cafd2-9084-4a28-8cca-b31bb7eb6d42
