[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/6aa48761-f6bc-4459-8f00-3e9ff6ec2cbb
Type=Link
URL[$e]=https://www.boot.dev/lessons/6aa48761-f6bc-4459-8f00-3e9ff6ec2cbb
