[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/a2c0066c-a7fc-4a07-bd6e-6dd9577b24f9
Type=Link
URL[$e]=https://www.boot.dev/lessons/a2c0066c-a7fc-4a07-bd6e-6dd9577b24f9
