[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/b6e716d2-df64-487e-aa7b-d768e8a2c8fc
Type=Link
URL[$e]=https://www.boot.dev/lessons/b6e716d2-df64-487e-aa7b-d768e8a2c8fc
