[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/fe11a2ec-1e24-4af4-bdd6-3a1a97846d0f
Type=Link
URL[$e]=https://www.boot.dev/lessons/fe11a2ec-1e24-4af4-bdd6-3a1a97846d0f
