[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/55d0bb12-b1c2-4987-b28c-693b83be6098
Type=Link
URL[$e]=https://www.boot.dev/lessons/55d0bb12-b1c2-4987-b28c-693b83be6098
