[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/c41fcdcf-4d78-4d40-945e-6014fabef3a4
Type=Link
URL[$e]=https://www.boot.dev/lessons/c41fcdcf-4d78-4d40-945e-6014fabef3a4
