[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/a15857b4-d2d4-4c61-a12d-33f1059dc99d
Type=Link
URL[$e]=https://www.boot.dev/lessons/a15857b4-d2d4-4c61-a12d-33f1059dc99d
