[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/0514a012-5bed-4a0a-8a69-432e1d7b3e63
Type=Link
URL[$e]=https://www.boot.dev/lessons/0514a012-5bed-4a0a-8a69-432e1d7b3e63
