[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/challenges/2433f12c-bf3f-484b-bbb8-3819d51abc99
Type=Link
URL[$e]=https://www.boot.dev/challenges/2433f12c-bf3f-484b-bbb8-3819d51abc99
