[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/f42d132b-ddaa-4461-9b43-26e662e46197
Type=Link
URL[$e]=https://www.boot.dev/lessons/f42d132b-ddaa-4461-9b43-26e662e46197
