[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/c07ed9b3-ba95-4042-95bc-46c7c8ed1767
Type=Link
URL[$e]=https://www.boot.dev/lessons/c07ed9b3-ba95-4042-95bc-46c7c8ed1767
