[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/c1a7a8d4-f0cd-4825-a0ad-7a936ed0ba43
Type=Link
URL[$e]=https://www.boot.dev/lessons/c1a7a8d4-f0cd-4825-a0ad-7a936ed0ba43
