[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/c3fbe0a1-0f70-47c0-b1e4-7195b0ef9a16
Type=Link
URL[$e]=https://www.boot.dev/lessons/c3fbe0a1-0f70-47c0-b1e4-7195b0ef9a16
