[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/64cc4d7b-3ba6-4c45-b5bf-c4224677772f
Type=Link
URL[$e]=https://www.boot.dev/lessons/64cc4d7b-3ba6-4c45-b5bf-c4224677772f
