[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/ca62cae5-2840-4457-b245-dd95b4780813
Type=Link
URL[$e]=https://www.boot.dev/lessons/ca62cae5-2840-4457-b245-dd95b4780813
