[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/7431bed0-b31a-4d8e-b389-c64a619304ad
Type=Link
URL[$e]=https://www.boot.dev/lessons/7431bed0-b31a-4d8e-b389-c64a619304ad
