[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/cb7bf035-2b02-447b-8e30-b167ae7d2bfb
Type=Link
URL[$e]=https://www.boot.dev/lessons/cb7bf035-2b02-447b-8e30-b167ae7d2bfb
