[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/b68c903e-c264-4006-b15d-ef579b0736a9
Type=Link
URL[$e]=https://www.boot.dev/lessons/b68c903e-c264-4006-b15d-ef579b0736a9
