[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/3a28cb24-7345-4e4e-9a08-fb8527a4122d
Type=Link
URL[$e]=https://www.boot.dev/lessons/3a28cb24-7345-4e4e-9a08-fb8527a4122d
