[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/challenges/74413c29-97b9-4686-b6dc-3f93da59c108
Type=Link
URL[$e]=https://www.boot.dev/challenges/74413c29-97b9-4686-b6dc-3f93da59c108
