[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/77d55ef9-7211-47d9-bf1b-426e3127428a
Type=Link
URL[$e]=https://www.boot.dev/lessons/77d55ef9-7211-47d9-bf1b-426e3127428a
