[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/d38e7d6c-0913-40d2-8536-f93fba7a969b
Type=Link
URL[$e]=https://www.boot.dev/lessons/d38e7d6c-0913-40d2-8536-f93fba7a969b
