[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/5f5409f9-77f1-4c71-8aa5-191efbad00d0
Type=Link
URL[$e]=https://www.boot.dev/lessons/5f5409f9-77f1-4c71-8aa5-191efbad00d0
