[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/42e8c3ce-7d93-4b9e-a216-d3116438d15d
Type=Link
URL[$e]=https://www.boot.dev/lessons/42e8c3ce-7d93-4b9e-a216-d3116438d15d
