[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/a7d30dc1-0ecd-4833-80c9-42aee12e24c9
Type=Link
URL[$e]=https://www.boot.dev/lessons/a7d30dc1-0ecd-4833-80c9-42aee12e24c9
