[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/301601d3-91d1-43e1-9925-89b6c0acd8b8
Type=Link
URL[$e]=https://www.boot.dev/lessons/301601d3-91d1-43e1-9925-89b6c0acd8b8
