[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/451da8ad-f8e9-4a58-88ec-dbfba4f76bb4
Type=Link
URL[$e]=https://www.boot.dev/lessons/451da8ad-f8e9-4a58-88ec-dbfba4f76bb4
