[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/challenges/61a34a6c-2e7f-4ab4-8288-bb795ffca2e6
Type=Link
URL[$e]=https://www.boot.dev/challenges/61a34a6c-2e7f-4ab4-8288-bb795ffca2e6
