[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/1fbc4250-81c6-464e-9764-33adbd4a4511
Type=Link
URL[$e]=https://www.boot.dev/lessons/1fbc4250-81c6-464e-9764-33adbd4a4511
