[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/8c6cafe9-5cb2-40b7-a42d-5cfe75f6e15c
Type=Link
URL[$e]=https://www.boot.dev/lessons/8c6cafe9-5cb2-40b7-a42d-5cfe75f6e15c
