[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/7d643d0f-b009-4ba6-b761-67cea209f5c8
Type=Link
URL[$e]=https://www.boot.dev/lessons/7d643d0f-b009-4ba6-b761-67cea209f5c8
