[Desktop Entry]
Icon=text-html
Name=Learn Functional Programming Python
Type=Link
URL=https://www.Boot.dev/courses/learn-functional-programming-python
X-Repo=https://GitHub.com/GoToLoop/Boot.dev
