[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/898b5f99-5f35-4ebd-a16b-c62d93b1b6c6
Type=Link
URL[$e]=https://www.boot.dev/lessons/898b5f99-5f35-4ebd-a16b-c62d93b1b6c6
