[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/efeb6932-1c25-455e-afe1-7272420de9e6
Type=Link
URL[$e]=https://www.boot.dev/lessons/efeb6932-1c25-455e-afe1-7272420de9e6
