[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/3bd0dc8c-6f23-4d7b-9066-835dcbabe047
Type=Link
URL[$e]=https://www.boot.dev/lessons/3bd0dc8c-6f23-4d7b-9066-835dcbabe047
