[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/8949ade5-876c-4c87-ad15-997a7172678b
Type=Link
URL[$e]=https://www.boot.dev/lessons/8949ade5-876c-4c87-ad15-997a7172678b
