[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/c7dd962f-9a2d-4228-80b1-840cc3aca886
Type=Link
URL[$e]=https://www.boot.dev/lessons/c7dd962f-9a2d-4228-80b1-840cc3aca886
