[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/6cd6445f-6226-4a98-a9f9-ee03e07cf37c
Type=Link
URL[$e]=https://www.boot.dev/lessons/6cd6445f-6226-4a98-a9f9-ee03e07cf37c
