[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/f29db40f-5f61-48b6-a528-79baaeccc08a
Type=Link
URL[$e]=https://www.boot.dev/lessons/f29db40f-5f61-48b6-a528-79baaeccc08a
