[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/5dfdf265-e5df-4f16-a6bf-6aca05ebb9a7
Type=Link
URL[$e]=https://www.boot.dev/lessons/5dfdf265-e5df-4f16-a6bf-6aca05ebb9a7
