[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/bc6b4166-3d72-471f-9f77-fcb9967c7c59
Type=Link
URL[$e]=https://www.boot.dev/lessons/bc6b4166-3d72-471f-9f77-fcb9967c7c59
