[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/fe89afdb-ee3b-499b-8f03-a1518d1208c2
Type=Link
URL[$e]=https://www.boot.dev/lessons/fe89afdb-ee3b-499b-8f03-a1518d1208c2
