[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/8a7821d7-121a-4293-94df-71890ea3ce5b
Type=Link
URL[$e]=https://www.boot.dev/lessons/8a7821d7-121a-4293-94df-71890ea3ce5b
