[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/fcb2fe55-e155-4f91-a904-4e266df13952
Type=Link
URL[$e]=https://www.boot.dev/lessons/fcb2fe55-e155-4f91-a904-4e266df13952
