[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/e22fab57-ab82-4b04-a189-3a027dea5f32
Type=Link
URL[$e]=https://www.boot.dev/lessons/e22fab57-ab82-4b04-a189-3a027dea5f32
