[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/9f8a31fc-0544-4ebc-a788-2cb61b439950
Type=Link
URL[$e]=https://www.boot.dev/lessons/9f8a31fc-0544-4ebc-a788-2cb61b439950
