[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/6efdb47f-520a-4fd9-8629-34eb69f57667
Type=Link
URL[$e]=https://www.boot.dev/lessons/6efdb47f-520a-4fd9-8629-34eb69f57667
