[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/c1c234b6-d6fe-4a3a-8a2d-e31398e09b18
Type=Link
URL[$e]=https://www.boot.dev/lessons/c1c234b6-d6fe-4a3a-8a2d-e31398e09b18
