[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/c8df5f12-5895-4a3e-ac4c-cdf1361f6394
Type=Link
URL[$e]=https://www.boot.dev/lessons/c8df5f12-5895-4a3e-ac4c-cdf1361f6394
