[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/4f78e1c5-46af-4087-81ed-a19d5f2ae101
Type=Link
URL[$e]=https://www.boot.dev/lessons/4f78e1c5-46af-4087-81ed-a19d5f2ae101
