[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/405c96b4-c00d-4894-bd2b-f9f13abfcc6c
Type=Link
URL[$e]=https://www.boot.dev/lessons/405c96b4-c00d-4894-bd2b-f9f13abfcc6c
