[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/48e1e0f3-7153-4a56-94e2-711db955b6ca
Type=Link
URL[$e]=https://www.boot.dev/lessons/48e1e0f3-7153-4a56-94e2-711db955b6ca
