[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/ea171b42-0d9b-43d2-a136-4e2e89227f9e
Type=Link
URL[$e]=https://www.boot.dev/lessons/ea171b42-0d9b-43d2-a136-4e2e89227f9e
