[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/34866c1e-cd76-4e53-a7d4-b891fb40970a
Type=Link
URL[$e]=https://www.boot.dev/lessons/34866c1e-cd76-4e53-a7d4-b891fb40970a
