[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/518067d6-698a-436f-9dd3-ee3ffcc06448
Type=Link
URL[$e]=https://www.boot.dev/lessons/518067d6-698a-436f-9dd3-ee3ffcc06448
