[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/d48609f7-48a6-4f28-b3ff-214aed9619df
Type=Link
URL[$e]=https://www.boot.dev/lessons/d48609f7-48a6-4f28-b3ff-214aed9619df
