[Desktop Entry]
Icon=text-html
Name=https://www.boot.dev/lessons/3008f4c6-63e0-4c3b-a28a-589bbadc3177
Type=Link
URL[$e]=https://www.boot.dev/lessons/3008f4c6-63e0-4c3b-a28a-589bbadc3177
